html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "futura-pt", sans-serif;
  background-color: #f6f6f5;
}

/* Global styles */
* {
  box-sizing: border-box;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 20px;
  color: #1b1914;
}

.italics {
  font-style: italic;
}

/* Home Page */
.nav {
  background-color: #f6f6f5;
  height: 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1b1914;
  padding: 50px;
  margin-top: 20px;
}

.nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav ul li {
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  font-family: "arsenica-variable",sans-serif;
  font-size: 1.9rem;
  color: #1b1914;
  padding: 1rem;
}

.home_cover, .background-home, .favorite-things {
  padding: 50px;
  box-sizing: border-box;
}

.home_cover {
  background-color: #f6f6f5;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 100px;
}

.background-home {
  background-color: white;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 100px;
  padding-right: 100px;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.wrap img, .footer-home img {
  float: none;
  margin: 20px; 
}

.footer-home {
  background-color: #dd3932;
  width: 100%;
  padding: 100px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text h2 {
  color: #f6f6f5;
}

.footer-text p {
  color: #f6f6f5;
}

/* My Work */

.main {
  background-color: #f6f6f5;
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}


.work-page-section {
  margin: 0px;
}

.work-title {
  justify-items: center;
}

.work-title h2 {
  font-family: "arsenica-variable",sans-serif;
  font-size: 50px;
}

/* Papers Section */
.papers {
  background-color: #16baaf;
  margin: 50px;
  padding: 100px;
  align-items: center;
  justify-content: center;
}

.papers h3 {
  color: #f6f6f5;
}

.papers p {
  color: #f6f6f5;
}

.papers-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 20px;
}

.papers-iframe {
  flex: 1;
  min-width: 300px;
  max-width: 45%;
  height: 300px;
}

.favorite-things {
  background-color: #feb009;
  margin: 50px;
  padding: 100px;
  align-items: center;
  justify-content: center;
}

.favorite-iframe {
  width: 100%;
  max-width: 100%;
  height: 500px;
}

.paintings {
  margin: 100px;
  width: auto;

}

/* Row and Column Layout */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.column {
  flex: 1 0 33%;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content-monochrome {
  background-color: white;
  border: 3px solid #feb009;
  padding: 10px;
}

.content-landscape {
  background-color: white;
  border: 3px solid #dd3932;
  padding: 10px;
}

.content-self {
  background-color: white;
  border: 3px solid #16baaf;
  padding: 10px;
}


/*Blog*/

.nav-blog {
  background-color: #1b1914;
  height: 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f6f6f5;
  padding: 50px;
  margin-top: 20px;
}

.nav-blog ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-blog ul li {
  list-style: none;
}

.nav-blog ul li a {
  text-decoration: none;
  font-family: "arsenica-variable",sans-serif;
  font-size: 1.9rem;
  color: #f6f6f5;
  padding: 1rem;
}

.blog {
  background-color: #1b1914;
  
}

/* Responsive Design */


@media screen and (max-width: 900px) {
  .background-home {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .home-text h2 {
    font-size: 24px;
  }

  .home-text p {
    font-size: 18px;
  }

  .wrap img {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .background-home {
    padding-left: 20px;
    padding-right: 20px;
  }

  .home-text h2 {
    font-size: 20px;
  }

  .home-text p {
    font-size: 14px;
  }
}

@media screen and (max-width: 900px) {
  .column {
    flex: 1 0 50%;
  }
  
  .papers-content {
    flex-direction: column;
    align-items: center;
  }
  
  .papers-iframe {
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 1 0 100%; 
  }
  
  .favorite-iframe {
    height: 300px; 
  }
}
