/* Add screen styles below */
html {
    background-color: #f6f6f5;
}

body {
    font-family: "futura-pt", sans-serif;
    margin: 0px;
}

/* Home Page */
.nav {
    height: 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1b1914;
    padding: 50px;
}

.nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    font-family: "arsenica-variable",sans-serif;
    font-size: 1.9rem;
    color: #1b1914;
    padding: 1rem;
}

.home_cover {
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 200px;
}

.background-home {
    background-color: white;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap {
    position: relative;
    float: left;
}

.wrap img {
    float: left;
    margin: 30px;
}



/* My Work */



/* Blog Page */
